/*COMMIT BEFORE DOING ANYTHING ELSE*/
/*COMMIT BEFORE DOING ANYTHING ELSE*/
/*COMMIT BEFORE DOING ANYTHING ELSE*/
/*COMMIT BEFORE DOING ANYTHING ELSE*/
/*COMMIT BEFORE DOING ANYTHING ELSE*/
/*COMMIT BEFORE DOING ANYTHING ELSE*/
/*COMMIT BEFORE DOING ANYTHING ELSE*/
/*COMMIT BEFORE DOING ANYTHING ELSE*/
/*COMMIT BEFORE DOING ANYTHING ELSE*/
body {
    padding-top: 5rem;
    /*padding-left: 10rem;*/
}

.container{
  display: grid;
  /*grid-template-columns: 20% 60% 20%;*/
  grid-template-rows: 1fr 2fr 2fr 1fr;
}

div.lead{
  text-align: center;
  background: #89cff0;
  padding-bottom: 5rem;
  margin-left: 300px;
  margin-right: 300px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
}

.lead img{
  border-radius: 50%;
}

div.who{
  display: grid;
  grid-template-rows: auto auto auto;
  text-align: center;
  background: grey;
  padding-bottom: 5rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: auto;
}

/*div.vanis{
  display: grid;
  grid-template-rows: auto auto;
  list-style: none;
}

div.vnum{
  list-style: none;
  float:left;
  text-align: center;
  padding: 15px;
}

div.vdesx{
  list-style-type: none;
  float:left;
  text-align: center;
  padding: 15px;
}*/

div.vanis{
  /*background-color: #333333;*/
  float: right;
}

table{
  /*background-color: white;*/
  text-align: center;
  margin: auto;
}

th,td{
  padding: 5px;
  text-align: center;
}

button{
  color: white;
  background-color: green;
  
}
/*.vdesx li{
  list-style: none;
  float:left;
  text-align: center;
  padding: 15px;
}

.vnum li{
  list-style: none;
  float:left;
  text-align: center;
  padding: 15px;
}*/
