
body {
    padding-top: 5rem;
}

.container{
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1fr;
}

div.lead{
  text-align: center;
  background: #89cff0;
  padding-bottom: 10px;
  margin-left: 300px;
  margin-right: 300px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
}

.lead img{
  border-radius: 50%;
}

div.who{
  display: grid;
  grid-template-rows: auto auto auto;
  text-align: center;
  background: grey;
  padding-top: 10px;
  padding-bottom: 5rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: auto;
}

div.vanis{
  float: right;
}

table{
  text-align: center;
  margin: auto;
}

th,td{
  padding: 5px;
  text-align: center;
}

button{
  color: white;
  background-color: green;
  margin-top: 10px;

}
